## Colorize the ls output ##
alias ls='ls --color=auto --group-directories-first'

## Use a long listing format ##
alias ll='ls -l --group-directories-first'

## Show hidden files ##
alias l.='ll -d .* --color=auto --group-directories-first'

## Bunch of colored outputs
alias diff='diff --color=auto'
alias grep='grep --color=auto'

## For starting with Nvidia GPU
alias withnv='DRI_PRIME=1'
