## Colorize the ls output ##
alias ls='ls --color=auto --group-directories-first -v -h'

## Use a long listing format ##
alias ll='ls -l'

## Show hidden files too ##
alias l.='ll -A'

## Bunch of colored outputs
alias diff='diff --color=auto'
alias grep='grep --color=auto'

## Sane calendar
alias cal='cal -m'

## Ledger default file
alias ledger='ledger -f ~/money/ledger --start-of-week=1'

## youtube-viewer
alias yt='youtube-viewer'

## Use nvim instead of vim
alias vim='nvim'
