## Colorize the ls output ##
alias ls='ls --color=auto --group-directories-first'

## Use a long listing format ##
alias ll='ls -l --group-directories-first'

## Show hidden files too ##
alias l.='ll -A --color=auto --group-directories-first'

## Bunch of colored outputs
alias diff='diff --color=auto'
alias grep='grep --color=auto'

## For starting with Nvidia GPU
alias withnv='DRI_PRIME=1'

## Sane calendar
alias cal='cal -m'

## Ledger default file
alias ledger='ledger -f ~/money/ledger --start-of-week=1'

## Arch user repo helper
alias bb='bb-wrapper'
